head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title #{ title }
  link(rel='stylesheet', type='text/css', href='/public/bulma.min.css')
  link(rel='stylesheet', type='text/css', href='/public/styles.css')
