<section class="section">
  <hr class="hr">
  <div class="container">
      <strong>BibTeX entry</strong>
      <br>
    <textarea rows="30" cols="80">
      <%= exportcite %>
    </textarea>
  </div>
</section>