<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://ui.adsabs.harvard.edu/styles/img/transparent_logo.svg" width="50" height="28"> ADS
    </a>
  </div>

  <div class="navbar-menu">
    <% if (page === 'search') { %>
    <form class="navbar-item is-expanded" method="GET" action="/search">
      <input class="input" type="text" name="q" placeholder="search for something..." value="<%= query.q %>" autofocus>
      <input type="hidden" name="s" value="date desc"/>
    </form>
    <% } %>
  </div>
</nav>
