extends layout
block content
  include header
  section.section
    .container
      form(action='/search', method='GET')
        .field
          .control
            input.input.is-large(type='text', name='q', placeholder='search for something...', value=query.q, autofocus)
            input(type='hidden', name='s', value=query.s || 'date desc')
